* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.header-top{
    background-color: #5f188a;
    color: #fff;
}

.header-top .content {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
}

.header-top .container-logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 0 5px;
}

/*
.header-top .container-logo::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    top: 0;
} */

.header-top .container-logo::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 64px solid #fff;
    z-index: -2;
}

.header-top .logo {
    width: 170px;
   /* background-color: rgba(0, 50, 172, 0.7); */
}

.header-top .content, .header-bottom .content{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header-top .item {
    display: flex;
    align-items: center;
}

.header-top .icon {
    width: 14px;
    margin-right: 8px;
}

.header-top .content .mail{
    margin-left: 25px;
}

.header-bottom {
    background-color: #6a1b9a;
}

.header-bottom .content {
    padding: 25px 0;
}

.slider {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider .item{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    pointer-events: none;
    transition: transform .5s;
}

.slider .item[data-slide="0"]{
    background-image: url(img/slider0.jpg);
}

.slider .item[data-slide="1"]{
    background-image: url(img/slider1.jpg);
}

.slider .item[data-slide="2"]{
    background-image: url(img/slider2.jpg);
}

.slider .item.no-transition {
    transition: none;
}

.slider .item.active{
    pointer-events: all;
}

.slider .item.right {
    transform: translateX(100%);
}

.slider .item.left {
    transform: translateX(-100%);
}


.slider .container-arrow {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.slider .arrow {
   width: 46px;
   cursor: pointer;
}

.slider .arrow:hover{
    color: #000;
}

#arrow-slider-left{
    transform: rotate(180deg);
}